<section id="hired">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <p><i class="far fa-envelope"></i> britishpandachick@gmail.com</p>
      </div>

      
      {% for item in site.data.footer %}
        <div class="col-sm-12 col-md-4 col-lg-4">
          <nav>  
            <ul class="nav">
              <li class="nav-item">
                <a href="{{ item.link }}" target="_blank" class="nav-link">
                  <i class="{{ item.icon }} fa-2x"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="copyright">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p>&copy; 2018-2021, Sarah Bartley | All Rights Reserved</p>
      </div>
    </div>
  </div>
</section>