<section id="hired">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <p><i class="far fa-envelope"></i> britishpandachick@gmail.com</p>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <nav>
          <ul class="nav">
            <li class="nav-item">
              <a href="http://www.facebook.com/sarahbartleybpc" target="_blank" class="nav-link">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>
    
            <li class="nav-item">
              <a href="https://twitter.com/TheOriginalBPC" target="_blank" class="nav-link">
                <i class="fab fa-twitter-square fa-2x"></i>
              </a>
            </li>
    
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/sarahbartleybpc" target="_blank" class="nav-link">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li>
    
            <li class="nav-item">
              <a href="https://www.instagram.com/britishpandachick" target="_blank" class="nav-link">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
    
            <li class="nav-item">
              <a href="http://www.pinterest.com/theoriginalbpc" target="_blank" class="nav-link">
                <i class="fab fa-pinterest fa-2x"></i>
              </a>
            </li>
    
            <li class="nav-item">
              <a href="https://github.com/BritishPandaChick" target="_blank" class="nav-link">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
</section>

<section id="copyright">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p>&copy; 2018-2021, Sarah Bartley | All Rights Reserved</p>
      </div>
    </div>
  </div>
</section>