/* Sass variables */ 
$base-font: 'Josefin Slab', serif;
$headline-font: 'Roboto Condensed', sans-serif;
$background-color: #558976;
$white: #fdfcfb;
$base-color: #333;
$hover-color: #9dac38;
$accent-color:#f6f2ea;
$dark-green: #385001;

/* ==== Basic Styles ==== */
body {
    background-color: $white;
    width: 100%;
    margin: 0 auto;
    color: $base-color;
  }
  
/* ==== Header ==== */
header {
  background-color: $background-color;

  .navbar-brand {
      font-size: 30px;
      font-family: $headline-font;
      color: $white;
  }

  li {
    font-weight: bold;
    font-family: $headline-font;
    padding: 0 10px;

    a {
        color: $white;
        font-size: 20px;
    }

    a:hover {
        color: $hover-color;
    }
  }
}
  
/* ==== Footer ==== */
#hired {
  background-color: $accent-color;
  padding: 25px 0;

  p {
    font-size: 18px;
    color: $background-color;
    font-family: $headline-font;
    padding: 20px 25px;
    
    i {
      color: $background-color;
      padding-right: 10px;
    }
  }

  li {
    padding: 10px 0;

    a {
      color: $background-color;
    }
  
    a:hover {
      color: $hover-color;
    }
  }
}

#copyright {
  background: $background-color;
  padding: 15px 25px;

  p {
    font-size: 18px;
    color: $white;
    font-family: $headline-font;
  }
}
  
/* ==== Home Page ==== */
#main-image {
  background-image: url("../assets/images/sb-home-banner.png");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;

  h2 {
    font-family: $headline-font;
    color: $background-color;
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    padding: 15px 0;
  }
}

#career-compass {
  padding: 50px; 

  p {
    font-family: $base-font;
    font-size: 20px;
    line-height: 32px;
  }
  
  img {
    padding-top: 15px;
  }
}
  
/* ==== About Page ==== */
#about {
  padding: 40px;

  h2 {
    font-family: $headline-font;
    color: $background-color;
    font-size: 25px;
    padding: 25px 0;
  }

  img {
    padding: 20px 0;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
  }
}
  
/* ==== Portfolio Page ==== */
#gallery {
  padding: 40px;

  h2 {
    font-family: $headline-font;
    font-size: 25px;
    color: $background-color;
  }

  img {
    margin: 40px 0;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    text-align: center;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
  }

  a {
    color: $background-color;
    font-size: 20px;
    font-family: $base-font;
    text-decoration: none;
    padding-bottom: 50px;
  }

  a:hover {
    color: $hover-color;
  }
}
  
#writing {
  padding: 40px;

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    padding: 20px 0;
  }

  a {
    color: $background-color;
    font-size: 20px;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
    padding: 10px 0;
  }

  h4 {
    font-size: 20px;
    font-family: $headline-font;
    padding: 15px 0;
  }

  li {
    font-size: 20px;
    font-family: $base-font;
  }
}

#side-projects {
  padding: 40px;

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    padding: 15px 0;
  }

  h4 {
    font-size: 20px;
    font-family: $base-font;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
    padding: 10px 0;
  }

  button {
    background-color: $background-color;
    color: $white;
    margin-bottom: 25px;
    font-size: 20px;
  }
}

#honors {
  padding: 40px;

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    padding: 15px 0;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
  }

  a {
    font-size: 20px;
    font-family: $base-font;
    color: $background-color;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}

#video {
  padding: 40px;

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    padding: 15px 0;
  }

  h4 {
    font-size: 20px;
    font-family: $base-font;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
  }

  iframe {
    width: 100%;
    height: 500px;
    padding-top: 20px;
  }
}

/* Project Pages */
#overview {
  padding: 40px;

  h2 {
    font-size: 25px;
    font-family: $headline-font;
    color: $background-color;
  }

  img {
    padding: 30px 0;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    padding: 10px 0;
    color: $base-color;
  }

  li {
    font-size: 20px;
    color: $base-color;
    font-family: $base-font;
  }
}

#description {
  padding: 40px;

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    padding: 10px 0;
    color: $base-color;
  }

  p {
    font-size: 20px;
    color: $base-color;
    line-height: 32px;
    font-family: $base-font;
  }

  a {
    font-size: 20px;
    color: $background-color;
    font-family: $base-font;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}

#back {
  padding: 15px;
  
  a {
    color: $background-color;
    font-size: 20px;
    font-family: $base-font;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}

/* ==== Services ==== */ 
#services {
  padding: 40px;

  h2 {
    font-size: 25px;
    font-family: $headline-font;
    color: $background-color;
  }

  img {
    padding: 40px 0;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    padding: 10px 0;
    color: $base-color;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    color: $base-color;
    line-height: 32px;
  }
}

/* ==== Blog ==== */ 
#original-bpc {
  padding: 40px;

  h2 {
    font-family: $headline-font;
    font-size: 25px;
    color: $background-color;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    color: $base-color;
    padding: 10px 0;
  }

  h4 {
    font-family: $headline-font;
    font-size: 18px;
    color: $background-color;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    color: $base-color;
    line-height: 32px;
  }

  a {
    color: $background-color;
    font-size: 20px;
    font-family: $base-font;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}

#bpc-codes {
  padding: 40px;

  h2 {
    font-family: $headline-font;
    font-size: 25px;
    color: $background-color;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    color: $base-color;
    padding: 10px 0;
  }

  h4 {
    font-size: 18px;
    font-family: $headline-font;
    color: $base-color;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    color: $base-color;
    line-height: 32px;
  }

  a {
    color: $background-color;
    font-size: 20px;
    font-family: $base-font;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}

#practical-dev {
  padding: 40px;

  h2 {
    font-family: $headline-font;
    font-size: 25px;
    color: $background-color;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    color: $base-color;
    padding: 10px 0;
  }

  h4 {
    font-size: 18px;
    font-family: $headline-font;
    color: $base-color;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    color: $base-color;
    line-height: 32px;
  }

  a {
    color: $background-color;
    font-size: 20px;
    font-family: $base-font;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}

#code-newbie {
  padding: 40px;

  h2 {
    font-family: $headline-font;
    font-size: 25px;
    color: $background-color;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    color: $base-color;
    padding: 10px 0;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    color: $base-color;
    line-height: 32px;
  }

  a {
    color: $background-color;
    font-size: 20px;
    font-family: $base-font;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}